* {
	box-sizing: border-box;
}
			
body {
	font-family: Helvetica, sans-serif, Arial;
	font-size: 14px;
	line-height: 1.6;
}
			
header {
	background-color: #666;
	padding: 5px;
	text-align: center;
	font-size: 35px;
	color: white;
}
			
/* Create two columns/boxes that floats on top of each other */
nav {
	overflow: hidden;
  	background-color: #333;
  	position: fixed;
  	top: 0;
  	width: 100%;
}

nav a {
	float: left;
  	display: block;
  	color: #f2f2f2;
  	text-align: center;
  	padding: 14px 16px;
  	text-decoration: none;
  	font-size: 17px;
}

nav a:hover {
	background: #ddd;
  	color: black;
}
			
article {
	float: left;
	padding: 30px;
	width: 100%;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
	nav, article {
		width: 100%;
		height: auto;
	}
}
			
div.hidden {
	display: none;
}
			
table {
	border-collapse: collapse;
	font-size: 12px;
}
			
caption {
	padding: 5px;
	caption-side: bottom;
}
			
td, th {
	border: 1px solid #dddddd;
	text-align: left;
	vertical-align: top;
	padding: 5px;
}
			
tr:nth-child(even){
	background-color: #dddddd;
}
			
tr:nth-child(1){
	background-color: #b1b1b1;
}

iframe {
	overflow: scroll;
	height: 5000px;
	width: 100%;
	border: 1px solid rgb(68, 67, 67);
}

code {
 	margin: 0 2px;
 	padding: 0 5px;
 	white-space: nowrap;
	border: 1px solid #eaeaea;
	background-color: #f8f8f8;
	border-radius: 3px;
	font-size: 12px;
}

p, blockquote, ul, ol, dl, li, table, pre {
	margin: 6px 10px; 
}

h1, h2, h3, h4, h5, h6 {
	margin: 20px 10px 10px;
	padding: 0;
	font-weight: bold;
	-webkit-font-smoothing: antialiased;
	cursor: text;
	position: relative; 
}

h1 {
	font-size: 28px;
	color: black; 
}
  
h2 {
	font-size: 24px;
	border-bottom: 1px solid #cccccc;
	color: black; 
}
  
h3 {
	font-size: 18px; 
}
  
h4 {
	font-size: 16px; 
}
  
h5 {
	font-size: 14px; 
}
  
h6 {
	color: #777777;
	font-size: 14px; 
}